{% extends 'add_data_base.html' %}
{% block head %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles.css">
     {% block title %}<h1>  Simple CRM / Add Client </h1>   {% endblock %}
  </head>
    {% endblock %}
{% block action %}

<h2> Please fill new clients data</h2>

{% endblock %}

{% block form %}
    <form method="POST">
        {% csrf_token %}
        <table>
            <tbody>
                    {{ form_1 }}
                    {{ form_2 }}
                    <tr>
                        <td> <button type="submit"> Submit </button> <button type="reset" > Reset! </button></td>
                    </tr>
            </tbody>
        </table>
    </form>
{% endblock %}

{% block message %} {{ message}} {% endblock %}




