{% extends 'add_data_base.html' %}
{% block head %}
<head>
    <meta charset="UTF-8" >
    <link rel="stylesheet" href="/static/styles.css">
    <title>{% block title %} Simple CRM / Add Salesperson {% endblock title %}</title>
</head>
{% endblock %}
{% block action %}
    <h2> Please fill new salesperson data</h2>

{% endblock %}
{% block form %}
             <form name="main" method="POST">
                 {% csrf_token %}
                <table>
                    <tbody>

                            {{ form_1 }}
                            {{ form_2 }}
                        <tr></tr>
                        <tr>
                            <td><button type="submit" name="add_salesperson"> Submit </button> <button type="reset" > Reset! </button></td>
                        </tr>

                    </tbody>
                </table>
            </form>
{% endblock %}
{% block message %}
{{ message }}
{% endblock %}