{% extends 'show_data_base.html' %}
{% block head %}
 <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles.css">
     {% block title %}<h1>  Simple CRM / Show Client Data </h1>   {% endblock %}
 {% endblock %}
 </head>
{% block action %}
    <h2> Select investment from the list </h2>
{% endblock %}
{% block second_action %}
<form name="pick_investment" method="POST" >
  {% csrf_token %}
    <table>
    <tbody>
        <tr>
           <td>{{ client_by_investment_form }}</td>
            <td><button type="submit" name="investment_form"> Submit </button> </td>
        </tr>
          </tbody>
    </table>
</form>

{% endblock %}
{% block info %}
{{ message }}
{% endblock %}
{% block third_action %}
<br>
<!--<form action="http://127.0.0.1:8000/MainMenu/">-->
<!--    <input type="submit" value="Main menu" />-->
<!--</form>-->
<br>
{% endblock %}






