{% extends 'show_data_base.html' %}

{% block head %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles.css">
     {% block title %}<h1>  Simple CRM / Choose Salesperson </h1>   {% endblock %}
 {% endblock %}
 </head>
{% block second_action %}
<form name="pick_salesperson_form" method="POST" >
  {% csrf_token %}
    <table>
    <tbody>
        <tr>
           <td>{{ salesperson_form }}</td>
        </tr>
        <tr>
            <td><button type="submit" name="salesperson_form"> Submit </button> </td>
        </tr>
          </tbody>
    </table>
</form>

{% endblock %}
{% block third_action %}
<br>
<form action="http://127.0.0.1:8000/index/">
    <input type="submit" value="Main menu" />
</form>
<br>
{% endblock %}






