{% extends 'add_data_base.html' %}
{% block title%} <h1>Simple CRM / Add Salesperson  </h1> {% endblock %}
{% block action %}
    <h2> Please fill new salesperson data</h2>

{% endblock %}
{% block form %}
             <form>
                <table>
                    <tbody>
                        <tr>
                            <td><label for="first_name">First name:</label></td>
                            <td><input type="text" id="first_name" name="first_name"></td>
                        </tr>
                        <tr>
                            <td><label for="last_name"> Last name:</label></td>
                            <td><input type="text" id="last_name" name="last_name"></td>
                        </tr>
                        <tr>
                            <td><label for="login">Login :</label></td>
                            <td><input type="text" id="login" name="login"></td>
                        </tr>
                        <tr>
                            <td><label for="password"> Password:</label></td>
                            <td><input type="password" id="password" name="password"></td>
                        </tr>
                        <tr>
                            <td><button type="submit"> Submit </button></td>
                            <td><button type="reset" > Reset! </button></td>
                        </tr>

                    </tbody>
                </table>
            </form>
{% endblock %}

