{% extends 'show_data_base.html' %}
{% block title %} <h1> Simple CRM / Show Client Data  </h1> {% endblock %}
{% block action %}
    <h2> Pick client from the list </h2>
{% endblock %}
<form name="pick_client" method="POST">

    <table>
    <tbody>
        <tr>
            {% block second_action %}
           {% csrf_token %}
           <td>{{ form.as_table }}</td>

            </tr>
                <tr>
                        <td><button type="submit"> Submit </button> <button type="reset" > Reset! </button></td>-->
                  </tr>
        <tr>{% for data in client %} {{ data }} {% endfor %}</tr>
    </tbody>
</table>
</form>


 {% endblock %}
