<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" >
    <title>{% block title %} Simple CRM {% endblock title %}</title>

</head>
<body>
    <table>
        <tbody>
            <tr>
                <td> {% block action %} Action Name {% endblock action %}</td>
<!--                <td> {% block second_action %} Second Action Name {% endblock %} </td>-->
            </tr>
        </tbody>
    </table>
    <table>
        <tbody>
            <tr> {% block form %} Form {% endblock form %} </tr>
            <tr> {% block message %} Message {% endblock message %} </tr>
        </tbody>
    </table>


</body>
</html>