<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" >
    <title>{% block title %} Simpe CRM {% endblock %}</title>

</head>
<body>
    <table>
        <tbody>
            <tr>
                <td> {% block action %} Action Name {% endblock %}</td>
                <td> {% block second_action %} Second Action Name {% endblock %} </td>
            </tr>
        </tbody>
    </table>
    <table>
        <tbody>
            <tr> {% block form %} Form {% endblock %} </tr>
            <tr> {% block message %} Message {% endblock %} </tr>
        </tbody>
    </table>


</body>
</html>