<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" >
    <title>{% block title %} Simpe CRM {% endblock %}</title>
</head>
<body>


               {% block menu_1 %}  {% endblock %}
               {% block menu_2 %}  {% endblock %}
                {% block menu_3 %} {% endblock %}
                {% block menu_4 %}  {% endblock %}
                {% block message %} {% endblock %}

</body>
<footer> Logged in as : {{ username  }}<br>{{ application_name }}\{{ version }}\copyrights: {{ copyrights }}\contact: {{ contact }}<br>
    <form  method="POST">
        {% csrf_token %}
        <button type="submit" name="logout"> Login\Logout
        </button>
    </form>
</footer>
</html>