<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <title>{% block title %}  {% endblock %}</title>
</head>
{% endblock %}
<body>


                 {% block action %} Action Name {% endblock %}
                 {% block second_action %} Second Action Name {% endblock %}
                {% block third_action %} {% endblock %}
                {% block fourth_action %}  {% endblock %}
                {% block info %}   {% endblock %}


</body>
<br><br>
<footer> Logged in as : {{ username  }}<br>{{ application_name }}\{{ version }}\copyrights: {{ copyrights }}\contact: {{ contact }}<br><br>
    <form  method="POST">
        {% csrf_token %}
        <button type="submit" name="logout"> Logout
        </button>
    </form>
</footer>
</html>
