{% extends 'add_data_base.html' %}
{% block title%} <h1>Simple CRM / Add Product  </h1> {% endblock %}
{% block action %}
    <h2> Please fill in product data</h2>

{% endblock %}

{% block form %}
    <form>
        <table>
            <tbody>
                    <tr>
                        <td> <label for="unique_id"> Unique id: </label></td>
                        <td><input type="text" id="unique_id" name="unique_id"></td>
                    </tr>
                    <tr>
                        <td><label for="area">Apartment area :</label></td>
                        <td> <input type="number" id="area" name="area"></td>
                    </tr>
                    <tr>
                        <td><label for="directions">Light exposition :</label></td>
                        <td>  <input list="directions">

                                <datalist id="directions">
                                 {% for  in some_list %}
                                  <option value="South">
                                  <option value="East">
                                  <option value="West">
                                  <option value="East-West">
                                    <option value="South-East">
                                    <option value="South-West">
                                    <option value="North-East">
                                    <option value="North-West">
                                    <option value="North-South">

                                </datalist> </td>
                    </tr>

                    <tr>
                        <td><label for="floor">Available floor :</label></td>
                        <td>  <input list="floor">
                                <datalist id="floor">
                                  <option value="1">
                                  <option value="2">
                                  <option value="3">
                                  <option value="4">
                                  <option value="5">
                                  <option value="6">
                                  <option value="7">
                                  <option value="8">
                                  <option value="9">
                                  <option value="10">
                                  <option value="11">
                                  <option value="12">
                                  <option value="13">
                                  <option value="14">
                                  <option value="15">
                               </datalist> </td>
                    </tr>

                     <tr>
                        <td><label for="number_of_rooms">Number of rooms :</label></td>
                        <td>  <input list="number_of_rooms">
                                <datalist id="number_of_rooms">
                                  <option value="1">
                                  <option value="2">
                                  <option value="3">
                                  <option value="4">
                                  <option value="5">
                                  <option value="6">
                                  <option value="7">
                                  <option value="8">
                                  <option value="9">
                                  <option value="10">
                               </datalist> </td>
                    </tr>
                    <tr>
                        <td><label for="rating"> Overall rating :</label></td>
                        <td>  <input list="rating">
                                <datalist id="rating">
                                  <option value="60%">
                                  <option value="70%">
                                  <option value="80%">
                                  <option value="90%">

                               </datalist> </td>
                    </tr>
                    <tr>
                        <td>  <input type="radio" id="balcony" name="balcony" value="balcony">
                            <label for="balcony"> balcony </label></td>
                        <td>  <input type="radio" id="loggia" name="loggia" value="loggia">
                            <label for="loggia"> loggia </label></td>

                    </tr>
                    <tr>
                        <td> <p>Status :</p></td>
                        <td>  <input type="radio" id="available" name="status" value="available">
                            <label for="available"> available </label>
                            <input type="radio" id="sold" name="status" value="sold">
                            <label for="sold"> sold </label>
                            <input type="radio" id="reserved" name="status" value="reserved">
                            <label for="reserved"> reserved </label>

                        </td>
                    </tr>

                    <tr>
                        <td> <label for="price"> Price :</label></td>
                        <td> <input type="number" id="price" name="price"></td>
                    </tr>

                    <tr>
                        <td> <button type="submit"> Submit </button> <button type="reset" > Reset! </button></td>

                    </tr>


            </tbody>
        </table>
    </form>
{% endblock %}







    investments = models.ForeignKey(InvestmentProject, on_delete=models.CASCADE)


